{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Agendamentos | {{ block.super }}{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-12">
            {% if cadastro  and not erro %}
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="font-weight-bold text-success">Agendamento cadastrado com sucesso!</span>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <div class="row mb-3">
                        <div class="col-12">
                            <span class="font-weight-bold">Bem vindo ao auto-atendimento Deziderio Hair, fique à vontade para agendar seu atendimento</span>
                        </div>
                    </div>
                    <div id="calendar"></div>
                </div>
                <div class="col-6 text-center">
                    <form method="POST" action="{% url 'salao.agendamento' %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-12">
                                <span class="font-weight-bold">Endereço:</span> <span>Rua Visconde de Guarapuava, 1235, Centro, São José dos Pinhais - Paraná</span>
                            </div>
                        </div>
                        <div class="row mb-5 mt-2">
                            <div class="col-12">
                                <input type="hidden" value="" id="data-agendamento-input" name="data-agendamento-input">
                                <span class="font-weight-bold {% if erro and descricao == 'dia' %}text-danger{% endif %}">Data selecionada:</span> <span id="data-agendamento"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="horarios-agendamento" class="font-weight-bold {% if erro and descricao == 'horario' %}text-danger{% endif %}">Horario do agendamento:</label>
                                    <select id="horarios-agendamento" required name="horarios-agendamento" class="form-control">
                                        <option value="0" disabled selected>Selecione seu horário</option>
                                        {% for h in horarios %}
                                            <option value="{{ h.id }}" {% if erro and horario_selecionado == h.id|slugify %}selected=""{% endif %}>{{ h.hora }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="servicos-agendamentos" class="font-weight-bold {% if erro and descricao == 'servicos' %}text-danger{% endif %}">Serviços:</label>
                                    <select id="servicos-agendamentos" required multiple name="servicos-agendamento" class="form-control">
                                        <option value="0" disabled selected>Selecione seu atendimento</option>
                                        {% for s in servicos %}
                                            <option value="{{ s.id }}" {% if erro and s.id|slugify in servicos_selecionados %}selected=""{% endif %}>{{ s.nome }} - R$ {{ s.valor }}   </option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="profissional-agendamento" class="font-weight-bold {% if erro and descricao == 'funcionario' %}text-danger{% endif %}">Profissional:</label>
                                    <select id="profissional-agendamento" required name="profissional-agendamento" class="form-control">
                                        <option value="0" disabled selected>Selecione ou deixe conosco</option>
                                        {% for funcionario in funcionarios %}
                                            <option value="{{ funcionario.id }}" {% if erro and funcionario_selecionado == funcionario.id|slugify %}selected=""{% endif %}>{{ funcionario.name }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mb-5 justify-content-center">
                            <button class="btn btn-info">
                                Confirmar agendamento
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="editar_agendamento" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <h6 class="modal-title font-weight-bold">Edição de Agendamento:</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form-edicao" action="{% url 'salao.gerenciar.agendamento' %}">
                        {% csrf_token %}
                        <div class="row mb-3 mt-2">
                            <div class="col-12">
                                <input type="hidden" value="" id="id-agendamento-input" name="id-agendamento-input" autocomplete="off" required>
                                <span class="font-weight-bold {% if erro and descricao == 'dia' %}text-danger{% endif %}">ID:</span> <span id="id-agendamento-selecionado"></span>
                            </div>
                            <div class="col-12 col-xl col-lg col-md-12 col-sm-12 mt-3">
                                <span class="font-weight-bold {% if erro and descricao == 'dia' %}text-danger{% endif %}">Data:</span>
                                <input data-toggle="tooltip" data-placement="top" data-title="Data de início" autocomplete="off" type="date" name="data-agendamento-selecionado" id="data-agendamento-selecionado" value=""
                                       class="form-control text-center" required>
                            </div>
                            <div class="col-12 col-xl col-lg col-md-12 col-sm-12 mt-3">
                                <fieldset>
                                    <span class="font-weight-bold {% if erro and descricao == 'horario' %}text-danger{% endif %}">Horário:</span>
                                    <select id="horarios-agendamento" required name="horarios-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione seu horário</option>
                                        {% for h in horarios %}
                                            <option value="{{ h.id }}" {% if erro and horario_selecionado == h.id|slugify %}selected=""{% endif %}>{{ h.hora }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
                                <fieldset>
                                    <span  class="font-weight-bold {% if erro and descricao == 'servicos' %}text-danger{% endif %}">Serviços:</span>
                                    <select id="servicos-agendamento" required multiple name="servicos-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione seu atendimento</option>
                                        {% for s in servicos %}
                                            <option value="{{ s.id }}" {% if erro and s.id|slugify in servicos_selecionados %}selected=""{% endif %}>{{ s.nome }} - R$ {{ s.valor }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-xl col-lg col-md-12 col-sm-12 mt-3">
                                <fieldset>
                                    <span  class="font-weight-bold {% if erro and descricao == 'funcionario' %}text-danger{% endif %}">Profissional:</span>
                                    <select id="profissional-agendamento" required name="profissional-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione ou deixe conosco</option>
                                        {% for funcionario in funcionarios %}
                                            <option value="{{ funcionario.id }}" {% if erro and funcionario_selecionado == funcionario.id|slugify %}selected=""{% endif %}>{{ funcionario.name }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3">
                                <fieldset>
                                    <span  class="font-weight-bold ">Motivo:</span>
                                    <select id="motivos-agendamento" required name="motivos-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Motivo de cancelar/reagendar</option>
                                        {% for motivo in motivos %}
                                            <option value="{{ motivo.id }}">{{ motivo.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="text-danger small mr-2" onclick="cancelar_agendamento()">
                        Cancelar agendamento
                    </a>
                    <button class="btn btn-primary" type="submit" form="form-edicao" >
                        Reagendar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            {% include 'parciais/_pagination.html' %}
        </div>
    </div>
    <script>

        function pegar_agendamento(agendamento_id) {

            $.ajax({
                type: "POST",
                url: "{% url 'salao.pegar.agendamento' %}",
                data: {
                    'agendamento_id': agendamento_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    console.log(data)
                    $('#id-agendamento-input').val(data.agendamento.id);
                    $('#id-agendamento-selecionado').html(data.agendamento.id);
                    $("#horarios-agendamento option[value='" + data.agendamento.horario_id + "']").prop("selected", true);
                    $("#profissional-agendamento option[value='" + data.agendamento.funcionario_id + "']").prop("selected", true);
                    $('#data-agendamento-selecionado').val(data.agendamento.data);
                    for (let s of data.servicos) {
                        $("#servicos-agendamento option[value='" + s.servico_id + "']").prop("selected", true);
                    }
                    $('#servicos-agendamento').select2({
                        theme: "bootstrap"
                    });

                    $('#editar_agendamento').modal('show');

                },
                error: function (data) {
                    alert('Houve um erro na hora de trazer os agendamentos, por favor contacte um administrador do sistema!')
                }
            });
        }
        function cancelar_agendamento() {
            let agendamento_id = $('#id-agendamento-input').val();
            let motivo_id = $('#motivos-agendamento').val();
            if(agendamento_id === ''){
                alert('Por favor selecione um agendamento!')
            }
            else if(motivo_id === null){
                alert('Por favor selecione um motivo para cancelar o agendamento!')
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "{% url 'salao.cancelar.agendamento' %}",
                    data: {
                        'agendamento_id': agendamento_id,
                        'motivo_id': motivo_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (data) {
                        confirm('Agendamento deletado com sucesso!');
                        window.location.reload();
                    },
                    error: function (data) {
                        alert('Houve um erro na hora de cancelar o agendamento!')
                    }
                });
            }
        }


        $(document).ready(function () {
             $('#servicos-agendamento').select2({
            theme: "bootstrap"
        });
        $('#servicos-agendamentos').select2({
            theme: "bootstrap"
        });

            var calendar = $('#calendar')[0];
            calendar = new FullCalendar.Calendar(calendar, {
                locale: "pt-br",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
                    {% for a in todos_agendamentos %}
                        {title: '{% if request.user.is_staff %}{{a.cliente.name}}{% else %}Agendamento{% endif %}', start: '{{a.data|date:"Y-m-d"}}', end: '{{a.data|date:"Y-m-d"}}', id: '{{ a.id }}'},
                    {% endfor %}
                ],
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                select: function (event) {
                    var start = event.startStr.split('-');
                    start = start[2] + '/' + start[1] + '/' + start[0];
                    $('#data-agendamento').html(start);
                    $('#data-agendamento-input').val(start);
                },
                eventResize: function (event) {
                    var start = event.oldEvent.startStr;
                    var end = event.event.startStr;
                    var title = event.event.title;
                    var id = event.event.id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            {#calendar.fullCalendar('refetchEvents');#}
                            {#alert('Event Update');#}
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },
                eventDrop: function (event) {
                    var start = event.oldEvent.startStr;
                    var end = event.event.startStr;
                    var title = event.event.title;
                    var id = event.event.id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            {#calendar.fullCalendar('refetchEvents');#}
                            {#alert('Event Update');#}
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },
                eventClick: function (event) {
                    pegar_agendamento(event.event.id)
                }
            });
            calendar.render();
        });

    </script>
{% endblock %}