{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Caixa | {{ block.super }}{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-12">
            {% if caixa.is_caixa_aberto or request.user.is_admin %}
                <h3 class="font-weight-bold mb-3 text-center">Caixa</h3>

                <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">Cliente</div>
                            </div>
                            <fieldset>
                                <select id="clientes" style="border-top-left-radius:0;border-bottom-left-radius:0;" required name="clientes" class="form-control w-100" autocomplete="off">
                                    <option value="0" disabled selected>Selecione o cliente</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">CPF</div>
                            </div>
                            <input id="cpf_na_nota" name="cpf_na_nota" class="form-control numeric">
                        </div>
                    </div>
                </div>
                <hr>

                <p class="font-weight-bold text-body">
                    Serviços e Produtos
                </p>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6 mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="btnGroupAddon">EAN</div>
                                    </div>
                                    <input id="ean_adicionado" name="ean_adicionado" onkeypress="if(event.keyCode === 13){adicionar_produto()}" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="adicionar_produto()">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-6 align-content-center">
                        {#                        <style>#}
                        {#                            table {#}
                        {#                                font-family: arial, sans-serif;#}
                        {#                                border-collapse: collapse;#}
                        {#                                width: 100%;#}
                        {#                            }#}
                        {##}
                        {#                            td, th {#}
                        {#                                border: 1px solid #cccccc;#}
                        {#                                text-align: left;#}
                        {#                                padding: 8px;#}
                        {#                            }#}
                        {##}
                        {#                            tr:nth-child(even) {#}
                        {#                                background-color: #eee;#}
                        {#                            }#}
                        {#                        </style>#}
                        <table id="tabela_servicos" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Serviço
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 text-center align-content-center">
                        <table id="tabela_produtos" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>EAN</th>
                                <th>Produto</th>
                                <th>Valor</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <p class="font-weight-bold text-body">
                    Forma de pagamento
                </p>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-primary" value="credito" name="forma-pag" onclick="forma_pagamento('credito')">Cartão de crédito</button>
                                    <button class="btn btn-outline-primary" value="pycpay" name="forma-pag" onclick="forma_pagamento('pycpay')">PICPAY</button>
                                    <button class="btn btn-outline-primary" value="dinheiro" name="forma-pag" onclick="forma_pagamento('dinheiro')">Dinheiro</button>
                                    <button class="btn btn-outline-primary" value="debito" name="forma-pag" onclick="forma_pagamento('debito')">Cartão de débito</button>
                                </div>
                            </div>

                            <input type="hidden" value="" id="forma_pagamento" name="forma-pag" name="forma_pagamento">
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <hr>
                        <div class="row">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <h2>Total:</h2>
                                    </div>
                                    <div class="col">
                                        <h2>R$ <span id="valor_geral">0.00</span></h2>
                                        <input type="hidden" value="0" id="valor_servicos">
                                        <input type="hidden" value="0" id="valor_produtos">
                                        <input type="hidden" value="0" id="valor_geral_float">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <h2>Valor recebido:</h2>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="float form-control" id="valor_recebido" name="valor_recebido">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-12">
                                        <h2>Troco:</h2>
                                    </div>
                                    <div class="col-12 col-xl-3 col-lg-3 col-sm-12 col-md-12">
                                        <h2>R$ <span id="valor_troco">0.00</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 justify-content-center">
                    {% if request.user.is_admin %}
                        {% if caixa.is_caixa_aberto %}
                            <a class="btn btn-danger text-white mr-2" style="cursor:pointer" onclick="abrir_caixa()">Fechar caixa</a>
                        {% else %}
                            <a class="btn btn-primary mr-2 text-white" onclick="abrir_caixa()">Abrir caixa</a>
                        {% endif %}
                    {% endif %}
                    <button class="btn btn-primary" onclick="finalizar_compra()">Finalizar compra</button>
                </div>
            {% else %}
                <p>Caixa fechado! Peça para algum administrador abrir.</p>
            {% endif %}

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#cpf_na_nota').val('');
            $('#valor_geral').html('0.00');
            $('#valor_servicos').val(0);
            $('#valor_produtos').val(0);
            $('#valor_geral_float').val(0);
            $('#valor_troco').html('0.00');
            $.ajax({
                type: "POST",
                url: "{% url 'salao.pegar_clientes' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    for (let i = 0; i < data.clientes.length; i++) {
                        let cpf = '';
                        if (data.clientes[i].cpf !== null) {
                            cpf = ' - ' + data.clientes[i].cpf
                        }
                        $('#clientes').append($('<option>').val(data.clientes[i].id).text(data.clientes[i].name + cpf))
                    }
                },
                error: function (data) {
                }
            });
        })

    </script>
    <script>
        function abrir_caixa() {
            $.ajax({
                type: "POST",
                url: "{% url 'salao.abrir_caixa' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert('Erro ao fechar o caixa')
                }
            });
        }
    </script>
    <script>
        $('#clientes').on('change', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'salao.pegar_informacoes' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'cliente_id': this.value,
                },
                success: function (data) {
                    let html_final = ``;
                    let valor_final = 0;

                    for (let i = 0; i < data.itens.length; i++) {
                        valor_final += parseFloat(data.itens[i].servico__valor);
                        html_final += `
                            <tr>
                                <td>${data.itens[i].servico__nome}</td>
                                <td>${data.itens[i].servico__valor}</td>
                            </tr>
                        `
                    }
                    $("#valor_servicos").val(valor_final);

                    calcular_total();

                    if (data.cliente.cpf !== null) {
                        $('#cpf_na_nota').val(data.cliente.cpf)
                    }

                    $('#tabela_servicos tbody').html(html_final)
                },
                error: function (data) {
                    alert('Erro ao buscar os serviços do cliente!')
                }
            });
        });
    </script>
    <script>
        $(document).on("input", ".numeric", function () {
            this.value = this.value.replace(/\D/g, '');
        });
        $(document).on('input', ".float", function () {
            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
            calcular_troco()
        });

        function calcular_total(){
            var valor_servicos = parseFloat($('#valor_servicos').val());
            var valor_produtos = parseFloat($("#valor_produtos").val());

            $("#valor_geral_float").val(valor_servicos + valor_produtos);

            $("#valor_geral").html(valor_servicos + valor_produtos);

            calcular_troco();
        }

        function calcular_troco() {
            let valor_recebido = 0;
            if ($('#valor_recebido').val()) {
                valor_recebido = parseFloat($('#valor_recebido').val())
            } else {
                valor_recebido = 0
            }
            let valor = (valor_recebido - parseFloat($('#valor_geral_float ').val())).toFixed(2) && (valor_recebido - parseFloat($('#valor_geral_float ').val())).toFixed(2) < 0 ? 0 : (valor_recebido - parseFloat($('#valor_geral_float ').val())).toFixed(2);
            $('#valor_troco').html(valor);
        }
    </script>
    <script>
        let produtos_adicionados = [];

        function adicionar_produto() {
            if($('#ean_adicionado').val())
                $.ajax({
                    type: "POST",
                    url: "{% url 'salao.pegar_produto' %}",
                    data: {
                        'ean': $('#ean_adicionado').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (data) {
                        if (data.produto === null) {
                            alert('Nenhum produto encontrado com esse ean')
                        } else {
                            try {
                                $('#tabela_produtos tbody').append(`
                                    <tr data-id="${data.produto.id}">
                                        <td>${data.produto.ean}</td>
                                        <td>${data.produto.nome}</td>
                                        <td>${data.produto.valor_revenda2}</td>
                                        <td><button class="btn btn-danger" onclick="remover_produto(this)">Remover</button></td>
                                    </tr>
                                `);
                                $("#valor_produtos").val(parseFloat($("#valor_produtos").val()) + parseFloat(data.produto.valor_revenda2));

                                calcular_total();

                                produtos_adicionados.push(data.produto.id);
                            } catch (e) {

                            }
                        }
                    },
                    error: function (data) {
                        alert('Nenhum produto encontrado com esse ean')
                    }
                });
        }

        function remover_produto(_this) {
            _this = $(_this);
            let valor = _this.parent().parent().children()[2].innerHTML;
            $("#valor_produtos").val(parseFloat($("#valor_produtos").val()) - parseFloat(valor));
            produtos_adicionados.splice(produtos_adicionados.indexOf(parseFloat(_this.parent().parent().attr('data-id'))), 1);

            calcular_total();
            _this.parent().parent().remove();
        }

    </script>
    <script>
        function forma_pagamento(forma) {
            let name = $('[value="'+forma+'"]');
            $("[name='"+name.attr('name')+"']").removeClass('active');
            name.addClass('active');

            $('#forma_pagamento').val(forma);
        }
    </script>
    <script>
        function finalizar_compra() {
            let forma_pag = $('#forma_pagamento').val();
            if (forma_pag === null || forma_pag === '') {
                alert('Escolha uma forma de pagamento!');
                return 0
            }
            let vlr_total = $('#valor_geral_float').val();
            let vlr_recebido = $('#valor_recebido').val();
            if (vlr_recebido === null || vlr_recebido === '') {
                alert('Digite o valor recebido!');
                return 0
            }
            let vlr_troco = $('#valor_troco').html();
            let produtos_add = produtos_adicionados;
            let cliente_id = $('#clientes').val();
            let cpf_na_nota = $('#cpf_na_nota').val();

            if(vlr_recebido >= vlr_total){
                $.ajax({
                    type: "POST",
                    url: "{% url 'salao.finalizar_compra' %}",
                    data: {
                        'forma_pag': forma_pag,
                        'vlr_total': vlr_total,
                        'vlr_recebido': vlr_recebido,
                        'vlr_troco': vlr_troco,
                        'produtos_add': produtos_add,
                        'cliente_id': cliente_id,
                        'cpf_na_nota': cpf_na_nota,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert('Erro ao finalizar a compra')
                    }
                });
            }
            else {
                $("#valor_recebido").focus();
                alert("Valor recebido menor que o valor total");
            }
        }

    </script>
{% endblock %}
