{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Gestão de estoque | {{ block.super }}{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-12" id="export_print">
            <h3 class="text-center">
                Gestão de estoque
            </h3>

            <div  class="text-right mb-2">
                <a href="{% url 'salao.alterar.produto' %}">
                    <div class="btn btn-primary">
                        Cadastrar Produto
                    </div>
                </a>
            </div>
            <table id="tabela_agendamentos" class="table w-100 table-striped table-bordered">
                <thead>
                <tr>
                    <th>Data Ref</th>
                    <th>EAN</th>
                    <th>Produto</th>
                    <th>Qtd em estoque</th>
                    <th>Qtd atualizada</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for p in produtos %}
                    <tr data-exportable="{{ p.status }}">
                        <td>{{ p.dat_insercao|date:"d/m/Y" }}</td>
                        <td>{{ p.ean }}</td>
                        <td>{{ p.nome }}</td>
                        <td>{{ p.estoque_atual }}</td>
                        <td><input type="text" class="form-control numeric" autocomplete="off" id="estoque-id-{{ p.id }}"></td>
                        <td>{{ p.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center d-flex justify-content-between">
            <button class="btn btn-info" onclick="atualizar_estoque()">
                Atualizar Estoque
            </button>
            <button class="btn btn-primary text-white" id="btn-imprimir">
                Imprimir Lista
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include 'parciais/_pagination.html' %}
        </div>
    </div>
    <script>
        // Change the selector if needed
        var $table = $('table'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>
    <script>
        document.getElementById('btn-imprimir').onclick = function () {

            $('#export_print').printThis({
                beforePrint: function(){
                    $('#export_print').find('[data-exportable="False"]').addClass('d-none');
                },
                afterPrint: function(){
                    $('#export_print').find('[data-exportable="False"]').removeClass('d-none');
                }

            });
        };
    </script>
    <script>
        function atualizar_estoque() {
            let novos_valores = {};
            {% for p in produtos %}
                if ($('#estoque-id-' + {{ p.id }}).val() !== '') {
                    novos_valores['{{ p.id }}'] = $('#estoque-id-' + {{ p.id }}).val()
                }
            {% endfor %}
            $.ajax({
                type: "POST",
                url: "{% url 'salao.atualizar.estoque' %}",
                data: {
                    'novos_valores': JSON.stringify(novos_valores),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    document.location.reload(true);
                },
                error: function (data) {
                }
            });
        }
    </script>
    <script>
        $(document).on("input", ".numeric", function () {
            this.value = this.value.replace(/\D/g, '');
        });
    </script>
{% endblock %}