{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Agendamentos | {{ block.super }}{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="row mb-3">
                        <div class="col-12">
                            <span class="font-weight-bold">Bem vindo ao auto-atendimento.</span>
                        </div>
                    </div>
                    <div class="col-12 mt-2 align-content-center">
                        <input data-toggle="tooltip" data-placement="top" data-title="Data de início" type="date" name="data_agendamento_date" value="" class="form-control text-center mb-2">
                        <style>
                            table {
                                font-family: arial, sans-serif;
                                border-collapse: collapse;
                                width: 100%;
                            }

                            td, th {
                                border: 1px solid #dddddd;
                                text-align: left;
                                padding: 8px;
                            }

                            tr:nth-child(even) {
                                background-color: #dddddd;
                            }
                        </style>
                        <table id="tabela_agendamentos">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Serviços</th>
                                <th>Data e hora</th>
                                <th>Profissional</th>
                                <th>Selecionar</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <form method="POST" id="form-edicao" action="{% url 'salao.gerenciar.agendamento' %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-12">
                                <span class="font-weight-bold">Endereço:</span> <span>Rua visconde de guarapuava, 1235, Centro, São José dos Pinhais - Paraná</span>
                            </div>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="col-12">
                                <input type="hidden" value="" id="id-agendamento-input" name="id-agendamento-input" autocomplete="off" required>
                                <span class="font-weight-bold {% if erro and descricao == 'dia' %}text-danger{% endif %}">Agendamento selecionado:</span> <span id="id-agendamento-selecionado"></span>
                            </div>
                        </div>
                        <div class="row mb-5 mt-2">
                            <div class="col-12">
                                <span class="font-weight-bold {% if erro and descricao == 'dia' %}text-danger{% endif %}">Data selecionada:</span>
                                <input data-toggle="tooltip" data-placement="top" data-title="Data de início" autocomplete="off" type="date" name="data-agendamento-selecionado" id="data-agendamento-selecionado" value=""
                                       class="form-control text-center" required>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="horarios-agendamento" class="font-weight-bold {% if erro and descricao == 'horario' %}text-danger{% endif %}">Horario do agendamento:</label>
                                    <select id="horarios-agendamento" required name="horarios-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione seu horário</option>
                                        {% for h in horarios %}
                                            <option value="{{ h.id }}" {% if erro and horario_selecionado == h.id|slugify %}selected=""{% endif %}>{{ h.hora }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="servicos-agendamento" class="font-weight-bold {% if erro and descricao == 'servicos' %}text-danger{% endif %}">Serviços:</label>
                                    <select id="servicos-agendamento" required multiple name="servicos-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione seu atendimento</option>
                                        {% for s in servicos %}
                                            <option value="{{ s.id }}" {% if erro and s.id|slugify in servicos_selecionados %}selected=""{% endif %}>{{ s.nome }} - R$ {{ s.valor }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="profissional-agendamento" class="font-weight-bold {% if erro and descricao == 'funcionario' %}text-danger{% endif %}">Profissional:</label>
                                    <select id="profissional-agendamento" required name="profissional-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Selecione ou deixe conosco</option>
                                        {% for funcionario in funcionarios %}
                                            <option value="{{ funcionario.id }}" {% if erro and funcionario_selecionado == funcionario.id|slugify %}selected=""{% endif %}>{{ funcionario.name }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-12">
                                <fieldset class="col-xl col-lg col-md-12 col-sm-12 text-center">
                                    <label for="motivos-agendamento" class="font-weight-bold ">Motivo:</label>
                                    <select id="motivos-agendamento" required name="motivos-agendamento" class="form-control" autocomplete="off">
                                        <option value="0" disabled selected>Motivo de cancelar/reagendar</option>
                                        {% for motivo in motivos %}
                                            <option value="{{ motivo.id }}">{{ motivo.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <div class="row mb-5 justify-content-between">
                        <button class="btn btn-danger" onclick="cancelar_agendamento()">
                            Cancelar agendamento
                        </button>
                        <button class="btn btn-success" type="submit" form="form-edicao">
                            Reagendar agendamento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include 'parciais/_pagination.html' %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#servicos-agendamento').select2({
                theme: "bootstrap"
            });
        })
    </script>
    <script>
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0');
        let yyyy = today.getFullYear();
        let data_atual = yyyy + "-" + mm + "-" + dd;
        $("*[name='data_agendamento_date']").val(data_atual).off('change.home').on('change.home', function () {
            data_atual = this.value;
            atualizar_tabela(data_atual)
        });
        atualizar_tabela(data_atual);

        function atualizar_tabela(data) {
            $.ajax({
                type: "POST",
                url: "{% url 'salao.atualizar.agendamento' %}",
                data: {
                    'data': data,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    $('#tabela_agendamentos').html(data)
                },
                error: function (data) {
                }
            });
        }
    </script>
    <script>
        function pegar_agendamento(agendamento_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'salao.pegar.agendamento' %}",
                data: {
                    'agendamento_id': agendamento_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    $('#id-agendamento-input').val(data.agendamento.id);
                    $('#id-agendamento-selecionado').html(data.agendamento.id);
                    $("#horarios-agendamento option[value='" + data.agendamento.horario_id + "']").prop("selected", true);
                    $("#profissional-agendamento option[value='" + data.agendamento.funcionario_id + "']").prop("selected", true);
                    $('#data-agendamento-selecionado').val(data.agendamento.data);
                    for (let s of data.servicos) {
                        $("#servicos-agendamento option[value='" + s.servico_id + "']").prop("selected", true);
                    }
                    $('#servicos-agendamento').select2({
                        theme: "bootstrap"
                    });
                },
                error: function (data) {
                    alert('Houve um erro na hora de trazer os agendamentos, por favor contacte um administrador do sistema!')
                }
            });
        }
    </script>
    <script>
        function cancelar_agendamento() {
            let agendamento_id = $('#id-agendamento-input').val();
            let motivo_id = $('#motivos-agendamento').val();
            if(agendamento_id === ''){
                alert('Por favor selecione um agendamento!')
            }
            else if(motivo_id === null){
                alert('Por favor selecione um motivo para cancelar o agendamento!')
            }
            else{
                $.ajax({
                type: "POST",
                url: "{% url 'salao.cancelar.agendamento' %}",
                data: {
                    'agendamento_id': agendamento_id,
                    'motivo_id': motivo_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    confirm('Agendamento deletado com sucesso!');
                    window.location.reload();
                },
                error: function (data) {
                    alert('Houve um erro na hora de cancelar o agendamento!')
                }
            });
            }
        }
    </script>
    <script>
        function editar_agendamento(){

        }
    </script>
{% endblock %}