{% load static %}
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
}
</style>

<footer class="bg-primary footer">
    <div class="text-light">
        <div class="row">
            <div class="col">
                <div class="p-1 text-center">
                    <span class="align-middle p-1  d-none d-xl-block d-lg-block">O dia de ficar bonita(o) é hoje</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-right">
                    <span class="align-middle p-1">Curitiba-PR</span>
                </div>
            </div>
        </div>
    </div>
</footer>

{#<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>#}
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>
<script type="text/javascript" src="{% static 'select2/js/select2.min.js' %}"></script>