{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Editar cadastro | {% endblock %}

{% block conteudo %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-12">
                    <div id="login-box" class="col-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center mb-4 mt-5">Edição dos dados pessoais</h3>
                            <div class="form-group mb-0">
                                <div class="row">
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3 mb-2">
                                            <label class="text-left w-100 m-0 font-weight-bold text-muted">{{ field.label_tag }}</label>
                                            <div>{{ field }}</div>
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                    <div class="col-12 mt-3">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary w-100">Salvar</button>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2 text-center">
                                        <a href="{% url 'desativar' %}" class="text-danger">
                                            Desativar conta
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("input, select").addClass('form-control');
        $("label").addClass('mb-0');
        $('#cpf').mask("000.000.000-00");
        $('#id_zip_code').mask("00.000-000");

        $('#id_zip_code').on('change', function(ev){
            buscaCep(ev.target.value, '');
        });

        // função para formatar data no padrão 2020-03-27 para idade em inteiro
        function formatarDataParaIdade(aniversario) {
            if (aniversario && aniversario.toString().indexOf('-') > -1 && aniversario.toString().length === 10) {
                let nascimento = aniversario.split("-");
                let dataNascimento = new Date(parseInt(nascimento[0], 10), parseInt(nascimento[1], 10) - 1, parseInt(nascimento[2], 10));

                let diferenca = Date.now() - dataNascimento.getTime();
                let idade = new Date(diferenca); // miliseconds from epoch
                return Math.abs(idade.getUTCFullYear() - 1970);
            } else {
                return aniversario;
            }
        }

        $('#id_birth').on('change', function(ev){
            ev.target.value;
            if(formatarDataParaIdade(ev.target.value) < 13){
                if($(this).parent().find('.erro_13_anos').length === 0)
                    $(this).parent().append(`<ul class="errorlist erro_13_anos"><li>O usuário não pode ter uma idade menor que 13 anos</li></ul>`);
            }
            else {
                $(this).parent().find('.erro_13_anos').remove();
            }
        });


        function buscaCep(value) {
            var Cep = value.replace(/\D/g, '');
            $.getJSON("https://viacep.com.br/ws/" + Cep + "/json/?callback=?", function (dados) {
                $("#id_address").val(dados.logradouro);
                $("#id_neighborhood").val(dados.bairro);
                $("#id_city").val(dados.localidade);
                $("#id_state").val(dados.uf);
                $("#id_number").focus();
            })
        }
    </script>
{% endblock %}