{% extends 'base_bs.html' %}
{% load omfilters %}
{% load static %}

{% block titulo %}Login | {% endblock %}

{% block conteudo %}
    <div id="login">
        <div class="container pt-4 pb-5">
            <div id="login-row" class="text-center row justify-content-center align-items-center">
                <div id="login-column" class="col-12">
                    <div id="login-box" class="col-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                            <div class="col"></div>
                                <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-8">
                                    <h3 class="text-center mb-4 mt-5">Entre com seu usuário</h3>
                                    <div class="form-group mb-0">
                                        <div class="row">
                                            {{ form.non_field_errors }}
                                            {% for field in form %}
                                                <div class="col-12 mt-3 mb-2">
                                                    <label class="text-left w-100 m-0 font-weight-bold text-muted">{{ field.label_tag }}</label>
                                                    <div>{{ field }}</div>
                                                    {{ field.errors }}
                                                </div>
                                            {% endfor %}
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div id="register-link" class="text-left">
                                                    <a href="{% url 'password_reset' %}" class="text-primary">Esqueceu sua senha?</a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div id="register-link" class="text-left">
                                                    <span class="text-muted mr-2">Ainda não tem conta?</span>
                                                    <a href="{% url 'register' %}" class="text-primary">Cadastre-se</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("input").addClass('form-control');
        $("label").addClass('mb-0');
    </script>
{% endblock %}